# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Uu]nityGenerated/
[Aa]ssets/[Aa]ssetStoreTools*

Assets/Editor/mod_pbxproj.*
Assets/Editor/plistlib.*
remote_config_data

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
[Ee]xportedObj/
*.svd
.consulo
.vscode/
.settings/


# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.sublime-workspace
OverrideAudio
AdjustPostBuildiOSLog.txt
AdjustPostBuildAndroidLog.txt

#Firebase 
#Assets/Plugins/Android/firebase-iid-10.0.1
#Assets/Plugins/Android/firebase-iid-10.0.1.meta
#Assets/Plugins/Android/firebase-common-10.0.1
#Assets/Plugins/Android/firebase-common-10.0.1.meta

#Jetbrains rider settings
.idea
